.nav-primary a {
    color: #fff;
    font-weight: 500;
  }
.nav-primary a:hover {
    color: rgb(241, 85, 44)!important ;
    font-weight: 500;
  }

  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  
  .navbar-toggler {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 18px;
    z-index: 99;
  }
  
  @media (max-width: 991.98px) {
    .navbar-toggler {
      display: block;
    }
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 100%;
      z-index: 999;
      overflow-y: auto;
      background-color: #fff;
      transition: right 0.3s ease;
    }
  
    .navbar-collapse.show {
      right: 0;
    }
  
    .navbar-toggler {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 100000;
    }
  }

  
  
  